html{
    scroll-behavior: smooth; /* Scroll behaviour */
}

body{
    margin: 0;    /* Remove space around elements */
    padding: 0;  /* Remove space between elements */
    font-family: Arial, Helvetica, sans-serif; /* Font for Navigation elements */
    width:100%;  /* Width of the element */
    height:100%  /* Height of the element */
}

/* Navigation start */

nav{
    width: 100%; /* Width of the Navigation element */
    background: 	#375e6b; /* Background color of the Navigation element */
    overflow: hidden;   /* Overflow clipped and content hidden */
    top: 0; /* Vertical position of an element */
    
}

ul{
    padding: 0;              /* Remove space between the element */
    margin: 0;               /* Remove space around elements */
    list-style: none;       /*  No list-item marker in a list */
}
li{
    float: left;            /* To float the navigation elements to left */
}
a{
    padding: 20px;          /* Add space between the element */
    width: 100px;            /* Width of the element */
    display: block;         /* Display behaviour of <a> element */
    text-decoration: none;  /* Removes underline of <a> element */
    color: rgb(239, 253, 253); /* Color of the Navigation Text */
    text-transform: uppercase;      /* Change font from lowercase to uppercase */
    font-weight: bold;     /* Make font bold */
}

/* Navigation End */

/* Scene 1 style start */

#forest{
    width: 100%;            /* Width of the Image */
    height: 800px;          /* Height of the Image */
    background-image: url('../images/background.jpg');       /* Image Background */
    background-attachment: local;                 /* image will not scroll with the page */
    background-position: top center;             /* image position in center of the page */
    background-size: cover;                      /* image size to cover the entire page */
    background-repeat: no-repeat;          /* image only shown once */
    position: relative;       /* Positioned normal */
    display: inline-block;     /* Display element in-line*/
}


#forest marquee{                  /* To Call elements in forest div under Marquee */
    height: 100%;                 /* Height of the Image */
    position: absolute;                  /* Positioned to the id forest*/
    bottom: -610px;              /* To set image to bottom */
    
    
    
}

#forest marquee img{            /*  Style image  */
    height: 150px;            /* Height of the GIFF */
}

/* Scene 1 style End */

/* Scene 2 style start */

#road{
    width: 100%;            /* Width of the Image */
    height: 800px;          /* Height of the Image */
    background-image: url('../images/background\ with\ road.jpg');       /* Image Background */
    background-attachment: local;                 /* image will not scroll with the page */
    background-position: top center;             /* image position in center of the page */
    background-size: cover;                      /* image size to cover the entire page */
    background-repeat: no-repeat;          /* image only shown once */
    display:inline-block;
    position: relative;
}

#road marquee{
    /*ToCallelementsinforestdivunderMarquee*/height: 100%;
    /*HeightoftheImage*/position: absolute;
    /*Positionedtotheidforest*/bottom: -450px;
    transform: scaleX(-1);
}

#road marquee img{            /*  Style image  */
    height: 390px;            /* Height of the GIFF */
}

/* Scene 2 style end */

/* Scene 3 style start*/

#vehilce{
    width: 100%;            /* Width of the Image */
    height: 800px;          /* Height of the Image */
    background-image: url('../images/background.jpg');       /* Image Background */
    background-attachment: local;                 /* image will not scroll with the page */
    background-position: top center;             /* image position in center of the page */
    background-size: cover;                      /* image size to cover the entire page */
    background-repeat: no-repeat;          /* image only shown once */
    display:inline-block;  /* Display image inline */
    position: relative;  /* position of the image */
}
#vehilce marquee{
    height: 100%;   /* height of the image */
    position: absolute;    /* position of the image to vehilce */
    bottom: -510px;       /*  placing image to the bottom of page*/
    transform: scaleX(-1);   /* to reverse the direction of image */
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

#vehilce marquee img{
    height: 390px;   /* Height of the Image*/
}

/* baby deer */
#vehilce #wild{
    position: absolute;  /* Positioning to the vehicle folder*/
    bottom: 190px;  /* placing image to the bottom of the page*/
    right: 200px;  /* moving the image to right side of the page */
}

#vehilce #wild  img{
    height: 110px;  /* original height of the image */
}

/* falling tree*/

#vehilce #nature{
    position: absolute;  /* Position of the image */
    bottom: 27px;    /* placing image to bottom */
    right: 700px;     /*  Placing image to rightside of the page */
    animation-name: fall; /* animation name for keyframes*/
    animation-duration: 25s; /*  animation duration*/
    animation-delay: 9s;   /*  delay to start animation */
    animation-fill-mode: forwards; /* To make the change in animation stable */
}

@keyframes fall{
    /*  to move tree */
    0%{ transform:translate(0%) ; -webkit-transform:translate(0%) ; -moz-transform:translate(0%) ; -ms-transform:translate(0%) ; -o-transform:translate(0%) ; }
   /*  to make tree fall leftside */
    70%{ transform:translate(10px,-20px) rotate(-90deg)  ; -webkit-transform:translate(10px,-20px) rotate(-90deg)  ; -moz-transform:translate(10px,-20px) rotate(-90deg)  ; -ms-transform:translate(10px,-20px) rotate(-90deg)  ; -o-transform:translate(10px,-20px) rotate(-90deg)  ; }
    /* fall leftside */
    100%{ transform:translate(10px,-20px) rotate(-90deg)  ; -webkit-transform:translate(10px,-20px) rotate(-90deg)  ; -moz-transform:translate(10px,-20px) rotate(-90deg)  ; -ms-transform:translate(10px,-20px) rotate(-90deg)  ; -o-transform:translate(10px,-20px) rotate(-90deg)  ; }
}


#vehilce #nature img{
    height: 300px;   /* Height of the tree */
}

/* stable tree */
#vehilce #nature2{
    position: absolute;    /* Position of the image */
    bottom: 130px;   /* placing image to bottom */
    right: 900px;  /* placing image to rightside */
}
#vehilce #nature2 img{
    height: 300px;  /* height of the image */
}

/*  half cut tree*/

#vehilce #nature1{
    position: absolute;  /* Position of the image */
    bottom: 80px; /* placing image to bottom */
    right: 900px;  /* placing image to rightside */

}
#vehilce #nature1 img{
    height: 30px;  /* height of the image */

}

/* bird sitting on tree start*/

#vehilce #birds{
    position: absolute; /* Position of the image */
    bottom: 300px;    /* placing image to bottom */
    right: 990px;   /* placing image to rightside */

}
#vehilce #birds img{
    height: 30px;   /* height of the image */
}

/* bird sitting on tree end */

/* bird 1 flying start*/

#vehilce #bird2{
    position: absolute;    /* Position of the image */
    bottom: 200px;  /* placing image to bottom */
    right: 700px;    /* placing image to rightside */
    animation-name: fly;  /* animation name */
    animation-duration: 29s;  /* animation duration */
    animation-delay: 9s; /* time to start the animation*/
    animation-fill-mode: forwards;  /* to make the change stable */

}
#vehilce #bird2 img{
    height: 70px;   /* Height of the image */
}

@keyframes fly{
    /*  start position of bird */
    0% {
        transform: translatex(0px) translatey(0px)    ;
        -webkit-transform: translatex(0px) translatey(0px)    ;
        -moz-transform: translatex(0px) translatey(0px)    ;
        -ms-transform: translatex(0px) translatey(0px)    ;
        -o-transform: translatex(0px) translatey(0px)    ;
}
 /*  angle of movement of bird */
    100% {
        transform: translatex(500px) translatey(-500px);
        -webkit-transform: translatex(500px) translatey(-500px);
        -moz-transform: translatex(500px) translatey(-500px);
        -ms-transform: translatex(500px) translatey(-500px);
        -o-transform: translatex(500px) translatey(-500px);
}
}

/* Scene 3 style end */



/* Scene 4 style start */

#city{
    width: 100%;            /* Width of the Image */
    height: 800px;          /* Height of the Image */
    background-image: url('../images/city\ background.jpg');       /* Image Background */
    background-attachment: local;                 /* image will not scroll with the page */
    background-position: top center;             /* image position in center of the page */
    background-size: cover;                      /* image size to cover the entire page */
    background-repeat: no-repeat;          /* image only shown once */
    position: relative;       /* Positioned normal */
    display: inline-block;     /* Display element in-line*/
}

#city marquee{                  /* To Call elements in forest div under Marquee */
    height: 100%;                 /* Height of the Image */
    position: absolute;                  /* Positioned to the id forest*/
    bottom: -610px;              /* To set image to bottom */
    
    
    
}

#city marquee img{            /*  Style image  */
    height: 150px;            /* Height of the GIFF */
}

#city .birdfly {            /*  Style image  */

    position: absolute;                  /* Positioned to the id forest*/
    bottom: 260px;              /* To set image to bottom */
    animation-name: flight;  /* animation name */
    animation-duration: 12s;  /* animation duration */
    animation-delay: 0s; /* time to start the animation*/
    animation-fill-mode: forwards;  /* to make the change stable */
}

@keyframes flight{
    /*  start position of bird */
    0% {
        transform: translatex(0px) translatey(0px)    ;
        -webkit-transform: translatex(0px) translatey(0px)    ;
        -moz-transform: translatex(0px) translatey(0px)    ;
        -ms-transform: translatex(0px) translatey(0px)    ;
        -o-transform: translatex(0px) translatey(0px)    ;
}
 /*  angle of movement of bird */
    100% {
    transform: translatex(700px) translatey(-350px);
    -webkit-transform: translatex(700px) translatey(-350px);
    -moz-transform: translatex(700px) translatey(-350px);
    -ms-transform: translatex(700px) translatey(-350px);
    -o-transform: translatex(700px) translatey(-350px);
}   
 
}
#city .birdfly img{            /*  Style image  */
    height: 60px;            /* Height of the GIFF */
}