html{
    scroll-behavior: smooth; /* Scroll behaviour */
}

body{
    margin: 0;    /* Remove space around elements */
    padding: 0;  /* Remove space between elements */
    font-family: Arial, Helvetica, sans-serif; /* Font for Navigation elements */
    width:100%;  /* Width of the element */
    height:100%  /* Height of the element */
}

/* Navigation start */

nav{
    width: 100%; /* Width of the Navigation element */
    background: 	#375e6b; /* Background color of the Navigation element */
    overflow: hidden;   /* Overflow clipped and content hidden */
    top: 0; /* Vertical position of an element */
    
}

ul{
    padding: 0;              /* Remove space between the element */
    margin: 0;               /* Remove space around elements */
    list-style: none;       /*  No list-item marker in a list */
}
li{
    float: left;            /* To float the navigation elements to left */
}
a{
    padding: 20px;          /* Add space between the element */
    width: 100px;            /* Width of the element */
    display: block;         /* Display behaviour of <a> element */
    text-decoration: none;  /* Removes underline of <a> element */
    color: rgb(239, 253, 253); /* Color of the Navigation Text */
    text-transform: uppercase;      /* Change font from lowercase to uppercase */
    font-weight: bold;     /* Make font bold */
}

/* Navigation End */

/* Scene 1 style start */

#forest{
    width: 100%;            /* Width of the Image */
    height: 650px;          /* Height of the Image */
    background-image: url('../images/background.jpg');       /* Image Background */
    background-attachment: fixed;                 /* image will not scroll with the page */
    background-position: top center;             /* image position in center of the page */
    background-size: cover;                      /* image size to cover the entire page */
    background-repeat: no-repeat;          /* image only shown once */
}


#forest marquee{                  /* To Call elements in forest div under Marquee */
    height: 100%;                 /* Height of the Image */
    position: fixed;                  /* Stays in the same place even if the page is scrolled */
    bottom: -560px;              /* To set image to bottom */
}

#forest marquee img{            /*  Style image  */
    height: 150px;            /* Height of the GIFF */
}

/* Scene 1 style End */