*{
    margin: 0;
    padding: 0;
}
body{
background-image: url(../images/bk2.jpeg);
background-size: cover;
}

nav{
 width: 100%;
 height: 40px;
 background-color: #fcc4c5;
}
 
nav p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
  
   background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    line-height: 40px;
    float:left;
    padding: 0px 80px 30px 30px ;
}

nav ul{
     float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
    font-family: arial;
}

nav ul li a{
    display: block;
    font-size: 14px;
    color: #666464;
    font-family: arial;
    padding: 13px 18px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fcc4c5;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
    
}
nav ul li ul li {
    width: 180px;
    
}
nav ul li ul li a {
    padding: 5px 14px;
    
}

nav ul li a:hover{
    background-color: #cbebe6;
    color: #666464;
    border-radius: 5px;
    text-align: center;

}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a:hover{
    background-color: #cbebe6;
    color: #666464;
    border-radius: 5px;
    text-align: center;
}

/* Div Main */

.clearfix {
  overflow: auto;
}
#main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
     float: left;
     width: 200px;
     
     
}
#main{
    width: 980px;
    height: 900px;
     padding: 20px;
    background-image: url(../images/bk_1.jpg);
    background-size: cover;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px; 
    box-shadow: 0 0 5px 2px #989898;
    margin-top: 30px;
    position: relative;
}
#main h1{
    color: #666464;
    font-size: 22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#main p{
    color: #666464;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#main #image{
    width: 800px;
    margin-left: 65px;
    margin-top: 25px;
    display: block;
}
#main #img-caption{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #666464;
    font-size: 14px;
    font-style: italic;
}

#main #tribute-info{
    padding: 30px;
}
#main #tribute-info p{
    text-align: justify;
    line-height: 1.5;
}
#main #tribute-info ul{
    padding: 30px;
    width: 400px;
    margin: 0 auto;
}
#main #tribute-info ul li{
     text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #666464;
    font-size: 14px;
    line-height: 1.5;
}
#main #tribute-link p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #666464;
    font-size: 20px;
    line-height: 1.5;
    
}
#main #tribute-link p a{
text-decoration: none;
color: #666464;
font-weight: bold;
}
#main #tribute-link p a:hover{
    color: #2596be;
}