body{
    font-family: Arial, Helvetica, sans-serif; /* Font family*/
    font-size: 13px; /* Font size*/
    width: 500px; /* width of body*/
    margin: auto; /* to make it in middle*/
    margin-top: 10px; /* top gap*/
    background-image: linear-gradient(180deg,#2193b0,#6dd5ed);/* gradient background*/
}
*{ /* for the entire page */
    box-sizing: border-box; /* total width and height are included along with padding*/
}
.heading {
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family*/
    font-size: 20px;     /* Font size*/
    text-align: center;  /* text in center */
    color: white; /* Font color*/
}

input[type=text], input[type=tel], input[type=date], fieldset, select, textarea{ /* to call the category */
    width: 100%; /* width*/
    padding: 10px; /* padding*/
    border: 1px solid #ccc; /* border color*/
    box-sizing:border-box; /* total height and with */
    margin-top: 6px;  /* top margin*/
    margin-bottom: 10px;   /* bottom margin*/
    resize: none;
}
input[type=submit] {  /* to call submit button*/
  background-color: #2193b0;  /* background color*/
  color: white;  /* font color*/
  padding: 8px 10px;  /* padding*/
  border: none;  /* border for box */
  border-radius: 5px;  /* for curved edges of the box*/
  cursor:pointer;  /* cursor pointer*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
input[type=submit]:hover{  /* submit button hover*/
    background-color: #6dd5ed;  /* background color*/
  color: rgb(95, 95, 95);   /* font color */
} 
.container{  
    border-radius: 5px;  /* for curved edges*/
    background-color: #f2f2f2;   /* background color*/
    padding: 20px; /* padding */
   
}

